nav{
  align-items: center;
  background: white;
  display: flex;
  z-index: 5000;
  position: relative;
  width: 100%;
  height: 100px;
  

}

#logo{
  display: flex;
  height: 30px;
  margin-left: 0;
  margin-right: auto;

}
  
#barra{
  background-color: rgb(224, 222, 222);
  margin-left: 250px;
  display: flex;
  width: 500px;
  height: 30px;
  border-radius: 22px;
  border: 0px solid grey;
  top: 10px;

}

.grid-item{
  width: 230px;
  margin: 10px;
  border-radius: 15px;
  cursor: zoom-in;
  

}
.grid-item:hover{
  filter: opacity(0.9);
  top: 30px;
  
}
